---
layout: page
description: "李为民的博客 | Min blog喜马拉雅听书有声小说大全郭德纲相声唱吧百度Qq微信微博pps腾讯新闻优酷我狗网易云暴风行UC浏览快播放器pptv影音乐视频土豆91手机助手地图yy新浪凤凰360安全卫士搜狐bbc懒人空间邮箱贴当陌人工智能很可能导致人类的永生或者灭绝，而这一切很可能在我们的有生之年发生。本人保持乐观积极的态度。https://waitbutwhy.com/2015/01/artificial-intelligence-revolution-1.html"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}


<script type="text/javascript" 
    id="clstr_globe" 
        src="//cdn.clustrmaps.com/globe.js?d=lVfXflU8RANk-byRG9VhUHEscCDG1c_VV-5w5XTSlh0">
</script>

<script type="text/javascript" 
    id="clustrmaps" 
        src="//cdn.clustrmaps.com/map_v2.js?d=lVfXflU8RANk-byRG9VhUHEscCDG1c_VV-5w5XTSlh0&cl=ffffff&w=a">
</script>



<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
